header{
    box-shadow:0 4px 12px rgb(0 0 0 / 8%), 0 0 1px rgb(1 0 0 / 10%);
}

.mr-class{
    margin-right: 1em;
}

.nav-style{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.maindiv{
    display: flex;
    align-items: center;
}

.unsplash-icon-div{
margin-left: 0;
}

svg{
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

.form-div{
    margin-left: 1em;
}

.form-div-input{
    padding: 0.7em;
    border-radius: 20px;
    border: none;
    background-color: #eee;
    width: 750px;
    font-size: 0.9em;
    color: #333;
}

.side-div{
    display: flex;
    align-items: center;
}

.side-div-span{
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    margin-right: 1em;
}

.right-side-div-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1em;
    margin-top: 1em;
}

.right-side-div-text-lifted{
    position: relative;
    font-size: 10px;
    top:-28px;
}

.form-div-input:focus{
        outline: none;
}
.btnclass>*{
    text-align: center;
}


@media screen and (max-width:1250px) and (min-width:1100px){
    .form-div-input{
width: 600px;
    }
}

@media screen and (max-width:1100px) and (min-width:800px){
.form-div-input{
    width: 450px;
}

.unsplash-icon-div{
    width: 28px;
    height: 28px;
}

 .side-div-span{
     font-size: 10px;
     margin-right:0.6em;
     font-weight: 600;
 }
 .right-side-div-text{
     font-size: 10px;
     font-weight: 600;
   margin-right: 0.6em;
   margin-top: 1em;   
 }
 .right-side-div-text-lifted{
     font-size: 8px;
     top:-20px;
 }
 .btnclass{
     width: 60px;
     height: 40px;
 }
 .btnclass>*{
font-size: 10px;
     font-weight: 600;
 }


}

@media screen and (max-width: 800px) and (min-width:650px){
 .form-div-input{
     width: 300px;
     font-size: 0.9em;
 }
 svg{
     width:0;
     height:0;
 }
 .side-div-span{
     font-size: 10px;
     margin-right:0.6em;
     font-weight: 600;
 }
 .right-side-div-text{
     font-size: 10px;
     font-weight: 600;
   margin-right: 0.6em;
   margin-top: 1em;   
 }
 .right-side-div-text-lifted{
     font-size: 8px;
     top:-20px;
 }
 .btnclass{
     width: 60px;
     height: 40px;
 }
 .btnclass>*{
font-size: 10px;
     font-weight: 600;
 }
}

@media screen and (max-width: 650px){
  .form-div-input{
     width: 275px;
     font-size: 0.7em;
     margin-left: -5px;
     margin-right:2px
 }
 .form-div{
     margin-left: 0.3em;
 }
 svg{
     width: 0px;
     height:0px;
 }

.side-div-span{
     font-size: 8px;
     margin-right:0.4em;
     font-weight: 600;
 }
 .right-side-div-text{
     font-size: 8px;
     font-weight: 600;
   margin-right: 0.4em;
   margin-top: 1.6em;   
 }
 .right-side-div-text-lifted{
     font-size: 8px;
     top:-20px;
 }
 .btnclass{
     width: 60px;
     height: 40px;
 }
 
 .btnclass>*{
font-size: 10px;
     font-weight: 600;
 }

}


.main{
    padding: 60px;
}

.sub-main{
    display: flex;
    justify-content: space-between;
}

.left-heading{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 40px;
}

.left-text{
    max-width: 620px;
}

.right>*{
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  width: 370px;
}

.right-top{
    list-style: none;
    display: flex;
    flex-direction: column;
}


.right-div{
    border: 1px solid #eee;
    padding:5px;
    padding-right: 30px;
}

.right-top>*{
    display: block;
    margin-top: 2em;
}
.right-text-list{
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.right-side-btn{
    color: white;
    height: 30px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.right-side-btn:hover{
    text-decoration: none;
}

.right-text-list-div{
    display: flex;
    justify-content: space-between;
}

.mainsvg{
    margin-left: 0px;
    height: 24px;
    width: 40px;
    vertical-align: middle;
    border: 0.5px solid #eee;
    border-radius: 50%;
    outline: none;
}

@media screen and (max-width:1300px){
    .left-heading{
        font-weight: 700;
        font-size: 40px;
    }
    .left-text{
        font-size: 25px;
        max-width: 400px;
    }
}

@media screen and (max-width:1150px){
    .left-text
{
font-size: 22px;
max-width: 400px;
}
}

@media screen and (max-width:950px){
    
    .sub-main{
        max-width: 50%;
        flex-direction: column;
        margin: 0 auto;
    }
}

@media screen and (max-width:818px){

    .left-heading{
        font-weight: 650;
        font-size: 35px;
    }
    .left-text{
 font-size: 20px;
 max-width: 375px;
    }
    .right>*{
width: 345px;
    }
    .right-div{
        padding:3px;
        padding-right: 25px;
    }
    .right-text-list{
        padding-bottom: 8px;
        margin-left: -10px;
    }
    .right-top>*{
        margin-top: 1.5em;
    }
}

@media screen and (max-width:690px){
    .right>*{
        width: 320px;
    }
    .right-div{
        padding: 2px;
        padding-right: 20px;
    }
    .right-text-list{
        padding-bottom: 6px;
    }
    .right-top>*{
        margin-top: 1em;
    }

}

@media screen and(max-width:658px){
    .left-text{
        font-size: 18px;
        max-width: 350px;
    }
}

@media screen and (max-width:592px){
    .left-text{
        font-size: 15px;
    }
}


.main{
    padding: 60px;
}

.sub-main{
    display: flex;
    justify-content: space-between;
}

.left-heading{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 40px;
}

.left-text{
    max-width: 620px;
}

.right>*{
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  width: 370px;
}

.right-top{
    list-style: none;
    display: flex;
    flex-direction: column;
}


.right-div{
    border: 1px solid #eee;
    padding:5px;
    padding-right: 30px;
}

.right-top>*{
    display: block;
    margin-top: 2em;
}
.right-text-list{
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.right-side-btn{
    color: white;
    height: 30px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.right-side-btn:hover{
    text-decoration: none;
}

.right-text-list-div{
    display: flex;
    justify-content: space-between;
}

.mainsvg{
    margin-left: 0px;
    height: 24px;
    width: 40px;
    vertical-align: middle;
    border: 0.5px solid #eee;
    border-radius: 50%;
    outline: none;
}

@media screen and (max-width:1300px){
    .left-heading{
        font-weight: 700;
        font-size: 40px;
    }
    .left-text{
        font-size: 25px;
        max-width: 400px;
    }
}

@media screen and (max-width:1150px){
    .left-text
{
font-size: 22px;
max-width: 400px;
}
}

@media screen and (max-width:950px){
    
    .sub-main{
        max-width: 50%;
        flex-direction: column;
        margin: 0 auto;
    }
}

@media screen and (max-width:818px){

    .left-heading{
        font-weight: 650;
        font-size: 35px;
    }
    .left-text{
 font-size: 20px;
 max-width: 375px;
    }
    .right>*{
width: 345px;
    }
    .right-div{
        padding:3px;
        padding-right: 25px;
    }
    .right-text-list{
        padding-bottom: 8px;
        margin-left: -10px;
    }
    .right-top>*{
        margin-top: 1.5em;
    }
}

@media screen and (max-width:690px){
    .right>*{
        width: 320px;
    }
    .right-div{
        padding: 2px;
        padding-right: 20px;
    }
    .right-text-list{
        padding-bottom: 6px;
    }
    .right-top>*{
        margin-top: 1em;
    }

}

@media screen and(max-width:658px){
    .left-text{
        font-size: 18px;
        max-width: 350px;
    }
}

@media screen and (max-width:592px){
    .left-text{
        font-size: 15px;
    }
}



.nav-btns{
    border: none;
    background: none;

}
.nav-tabs{
    display: inline-block;
    overflow: hidden;
    padding-bottom: 10px;
    border-bottom: 4px solid #dee2e6;
}

.list{
    display: flex;
    justify-content: space-around;
}
.content{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}


.nav-svg{
    width: 24px;
    height: 24px;
    
}

@media only screen and (max-width: 650px){
  .nav-item{
      font-size: 10px;
      font-weight: 500;
  }
}
@media only screen and (min-width:650px) and (max-width:900px){
    .nav-item{
        font-size: 13px;
        font-weight: 400;
    }
}

